.carousel-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 150px;
  max-width: 1200px; /* Limita el ancho máximo */
}

.custom-swiper {
  width: 100%;
  height: 500px; /* Altura fija para el contenedor del carrusel */
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recorta la imagen para llenar el espacio */
  object-position: center; /* Centra el recorte de la imagen */
}

.carousel-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.carousel-overlay h2 {
  font-size: 24px;
  margin-bottom: 10px;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-overlay p {
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .custom-swiper {
    height: 350px; /* Altura reducida para tablets */
  }
  
  .carousel-overlay h2 {
    font-size: 20px;
  }

  .carousel-overlay p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .custom-swiper {
    height: 250px; /* Altura más reducida para móviles */
  }

  .carousel-overlay h2 {
    font-size: 18px;
    white-space: normal; /* Permite múltiples líneas en móviles pequeños */
  }

  .carousel-overlay p {
    font-size: 12px;
  }
}