/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}


/* Logo */
.logo {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: rotate(10deg) scale(1.05);
}

/* Estilo de enlaces */
.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: white !important;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
  padding: 10px 15px;
  text-decoration: none; /* Elimina el subrayado predeterminado */
}

.nav-link:hover {
  color: #f8b400 !important;
  transform: scale(1.1);
}

/* Estilo de enlace activo */
.active-link {
  color: #f8b400 !important;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f8b400;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

/* Efecto hover general */
.hover-effect {
  transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.2);
}

/* Iconos de redes sociales */
.social-icons {
  display: flex;
  gap: 15px;
  align-items: center; /* Centra verticalmente los íconos */
}

.social-icon {
  color: white;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none; /* Elimina el subrayado predeterminado */
}

.social-icon:hover {
  color: #f8b400;
  transform: scale(1.2) rotate(5deg);
}

/* Scrollbar personalizado */
body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #092541;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

/* Responsividad */
@media (max-width: 768px) {
  .navigation-bar {
    text-align: center;
  }

  .nav-link {
    display: block;
    padding: 10px;
  }

  .social-icons {
    justify-content: center; /* Centra los íconos en móviles */
    margin-top: 10px;
  }

  .wave-separator {
    height: 30px; /* Ajusta la altura para móviles */
  }

  .logo {
    width: 60px;
    height: 60px; /* Reduce el tamaño del logo en móviles */
  }
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 16px; /* Reduce el tamaño de la fuente en móviles pequeños */
  }

  .social-icon {
    font-size: 20px; /* Ajusta el tamaño de los íconos en móviles pequeños */
  }
}